@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

* {
  margin: 0px;
}

#header-section {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color:rgb(24,48,48);
  justify-content: space-around;
}

#menu {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

#line {
  background-color: black;
  width: 100%;
  height: 30px;
}

.menu-button {
  margin: 10px;
  color: white;
  font-family: 'Share Tech Mono', monospace;
}

#photo {
  width: 300px;
  border-radius: 100%;
}